__pycache__/
*.py[cod]

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

output/voltage_images/*
!output/voltage_images/.gitkeep

output/temperature_images/*
!output/temperature_images/.gitkeep

output/*.pptx


.venv/
